#footer{
    position: relative;
    background-image: url(../img/bg/contact-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    .contact-details{
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        padding: 60px 30px;
        a, h3{
            color: white;
        }
        h1, h3, h2{
            font-size: 40px;
            font-weight: 100;
        }
        h2{
            font-weight: 700;
            letter-spacing: 3px;
        }
        a{
            transition: all .3s ease;
            &:hover{
                text-decoration: none;
                color: #f9461d;
            }
        }
    }
    ul{
        list-style: none;
        li{
            a{
                line-height: 50px;
                border-radius: 30px;
                color: #fff;
                display: block;
                font-size: 16px;
                height: 50px;
                transition: all 0.3s ease ;
                width: 50px;
                margin: 0 10px;
                &:hover{
                    background: white !important;
                    color: black;
                }
            }
        }
    }
}